*.iml
*.idea/.xml
*.idea/*
*.xml
*.cache
*.targets
*.csproj
*.json
*.props
*.dll
*.pdb
obj/Debug/net5.0/MathProject-Capstone-.csproj.FileListAbsolute.txt
*.editorconfig

obj/Debug/net5.0/MathProject-Capstone-.AssemblyInfo.cs
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs

.fake